@import '../../../Assets/scss/fonts';
@import '../../../Assets/scss/variable';

.userPlatform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 60px;
    .iteme{
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        gap: 2px;
        .key{
            font-weight: 900;
        }
        .value{
            font-size: 14px;

        }
    }
}