.btn {
    position: relative;
    width: 145px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;

    .btnTitle {
        width: 100%;
        width: 145px;
        height: 32px;
        display: flex;
        cursor: pointer;
        position: relative;
        justify-content: center;
        align-items: center;
        color: #595959;
        background-color: #fff;
        border: 1px solid #d6d6d6;
        font-size: 14px;
        text-transform: uppercase;
        transition: .3s;
        gap: 10px;

        &:hover {
            font-weight: 700;
            outline: none;
            border: 1px solid #918FF4;
            box-shadow: 0 0 1px 1px #918FF4;

        }
        

        .chevronDown{
            font-weight: 900 !important;
            color: black;

        }
    }
    
    .box {
        width: 100%;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 34px;
        background-color: #918ff4;
        z-index: 1;
        margin-top: 5px;
        box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
        // transform: scaleY(0);
        transform-origin: top;
        font-weight: 300;
        transition: .2s ease-in-out;

        .item {
            cursor: pointer;
            width: 100%;
            transition: .3s;
            text-align: center;
            // padding: 10px 0;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &:hover {
                background-color: #6261a165;
                font-weight: 550;
            }
        }
    }
}