@import '../../../../../Assets/scss/variable';

.bundleList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 95%;
    margin: auto;

    .top {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        height: auto;
        z-index: 1;

        .filter {
            display: flex;
            position: relative;
            flex-direction: row;
            height: auto;
            width: calc(100% - 60px);
            align-items: center;
            gap: 10px;

            .filterBtnBox {
                display: flex;
                align-items: flex-end;

                .filterBtn {
                    height: 32px;
                }

            }
        }

        .resetFillters {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 18px;
            color: $white;
            cursor: pointer;
        }

        .filerinput {
            width: 100px;
        }

        .addBundle {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 14px;
            color: $iconColor;
        }
    }
}