@import '../../../../../Assets/scss/variable';

.bundleList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 95%;
    margin: auto;
    .top {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        height: auto;
        z-index: 1;

        .filter {
            z-index: 1;
            position: relative;
            padding: 20px 30px;
            flex-direction: row;
            height: auto;
            width: calc(100% - 60px);
            background: $Gray;
            border-radius: 8px;
            border: 2px solid $lightGray;
            align-items: center;
            gap: 10px;
        }
        
        .addBundle {
            width: 6vh;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: $font-xl;
            color: $iconColor;
        }
    }
}