@import '../../Assets/scss/variable';
.alert{
    position: fixed;
    top: 0;
    right: 0;
    color: $white;
    width: 90%;
    padding: 20px;
    margin: 60px 20px 0px 20px ;
    z-index: 100;
    border-radius: 12px;
    
    &.success{
        background-color: $blue-90;
    }
    
    &.unsuccess{
        background-color: $red-90;
    }
    
    &.deleted{
        background-color: $yellow-90;
    }


}