@import '../../Assets/scss/variable';
.alert{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $red;
    color: $white;
    max-width: 60%;
    padding: 20px;
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

    .close{
        width: 30px;
        height: 30px;
        font-size: 20px;
        background: none;
        display: none;
    }
}