@import '../../Assets/scss/variable';

.bgAlrt {
    // background-color: $black-90;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;

    .alert {
        position: fixed;
        top: 0;
        width: 20%;
        right: 0;
        color: $white;
        padding: 20px;
        margin: 60px;
        z-index: 100;
        border-radius: 12px;

        &.success {
            background-color: $blue-90;
        }

        &.unsuccess {
            background-color: $red-90;
        }

        &.deleted {
            background-color: $yellow-90;
        }


    }
}