.transaction {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    gap: 20px;

    .filter {
        z-index: 1;
        position: relative;
        display: flex;
        padding: 20px 30px;
        flex-direction: row;
        height: auto;
        width: calc(100% - 60px);
        background: rgba(255, 255, 255, 0.44);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.2px);
        -webkit-backdrop-filter: blur(7.2px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        
        .control {
            width: 180px;
        }

        .controlinput {
            width: 180px;
            // width: 46px;
        }

    }
}