@import '../../../../Assets/scss/variable';
@import '../../../../Assets/scss/mixin';

.transactionDetail {
    width: 95%;
    margin: auto;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .backbtn {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        gap: 8px;

        .titleTransaction{
            font-size: 36px;
        }

        .backTransaction{
            width: 36px;
            height: 36px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: relative;
        }
    }

    .boxOfDetail {
        width: calc(100% - 60px);
        min-height: 68vh;
        padding: 30px;
        gap: 40px 20px;
        background-color: $Gray;
        border-radius: 16px;
        border: 1px solid $lightGray;

        .titleB {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-title {
                font-size: 18px;
                color: $fontColorlight;
                font-weight: 700;
            }

            .data-title {
                font-size: 18px;
                color: $fontColor;
                font-weight: 600;
            }

            .sub-data {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
            }

            .listItems {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}