@import '../../../../Assets/scss/variable';
@import '../../../../Assets/scss/mixin';

.transactionDetail {
    min-height: 80vh;
    width: 95%;
    margin: auto;
    background-color: $Gray;
    border-radius: 16px;
    border: 1px solid $lightGray;
    cursor: default;
    
    .boxOfDetail {
        margin: 4%;
        width: 95%;
        gap: 40px 20px;

        .titleB {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-title {
                font-size: 18px;
                color: $fontColorlight;
                font-weight: 700;
            }

            .data-title {
                font-size: 18px;
                color: $fontColor;
                font-weight: 600;
            }

            .sub-data {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
            }

            .listItems {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}