@font-face {
    font-family: 'YekanBakh';
    src: url(../../Assets/fonts/YekanBakh-Medium.woff);
}

@import '../../Assets/scss/fonts';
@import '../../Assets/scss/variable';

.inputBox {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

    .input {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .inputIcon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .inputControl {
            position: relative;
            font-size: 16px;
            width: 100%;
            height: 28px;

            &:hover,
            &:focus,
            &:link,
            &:visited,
            &:active {
                outline: none;
                border: 2px solid #918FF4;
            }

            &::placeholder {
                font-family: sans-serif;
                font-size: $fontPlaceholder-lg;
            }

        }

        .passwordEye {
            display: none;
            position: absolute;
            align-items: center;
            justify-content: center;
            right: 0;

            &.active {
                display: flex;
            }
        }
    }

    .error {
        .errorText {
            color: rgb(255, 0, 0);
        }
    }
}