@font-face {
    font-family: 'YekanBakh';
    src: url(../../Assets/fonts/YekanBakh-Medium.woff);
}

@import '../../Assets/scss/fonts';
@import '../../Assets/scss/variable';

.inputBox {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    // gap: 4px;


    .input {
        position: relative;
        display: flex;
        flex-direction: row;
        // margin: 10px auto;
        width: 145px;
        height: 32px;

        .inputIcon {
            // margin-right: 10px;
        }

        .inputControl {
            position: relative;
            font-size: 16px;
            width: 100%;

            &:hover {
                outline: none;
                border: 1px solid #918FF4;
                box-shadow: 0 0 1px 1px #918FF4;
    
            }
            
            &::placeholder {
                font-family: sans-serif;
                font-size: $fontPlaceholder-lg;
            }
        }

        .passwordEye {
            display: none;
            position: absolute;
            right: 0;

            &.active {
                display: flex;
            }
        }
    }

    .error {
        .errorText {
            color: rgb(255, 0, 0);
        }
    }
}