$fontPlaceholder-lg: 14px;



$font: 16px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 20px;
$font-fluid: 22px;


$pastelWhite: #FFFFFF;
$pastelCoronation: #EFEEEE;
$darkElf: #383B3E;
$graphiteGrey: #222527;
$blackGrey: #1F2127;
$caribbeanBlue : #2BC9E6;
$purpureus: #9314FF;