$fontPlaceholder-lg: 14px;

$font: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 20px;
$font-fluid: 22px;

$bgColor: #111315;
$Gray: #1A1D1F;
$Gray-10: #1a1d1ff9;
$darkGray: #272B30;
$lightGray: #272A2F;
$lighterGray: #363a42;
$actionPearlyPurple: #A46899;
$actionBlue: #2A85FF;
$actionBluelight: #0C499B;
$actionRust: #BC3E16;
$actionOldBurgundy: #6743B6;
$white: #FFFFFF;
$black: #000000;
$fontColor: #FFFFFF;
$fontColorlight: #838485;
$fontColorlighter: #777777;
$red: rgb(255, 0, 0);
$red-90: rgba(197, 29, 29, 0.575);
$blue-90: hsla(214, 86%, 33%, 0.575);
$yellow-90: hsla(57, 100%, 50%, 0.575);
$black-90 : #00000090;
$iconColor: #CDCECE;

// $border: 
