@import '../../../../../Assets/scss/mixin';
@import '../../../../../Assets/scss/variable';

.reportUserslist {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .filterReportUser {
        z-index: 1;
        position: relative;
        padding: 20px 30px;
        flex-direction: row;
        height: auto;
        width: calc(100% - 60px);
        background: $Gray;
        border-radius: 6px;
        border: 2px solid $lightGray;
        align-items: center;
        gap: 10px;

        .filterBtnBox {
            display: flex;
            align-items: flex-end;

            .filterBtn {
                height: 32px;
            }

        }
    }

    .resetFillters {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 18px;
        color: $white;
        cursor: pointer;
    }
}