@import "../.../../../../../../Assets/scss/mixin";
@import "../.../../../../../../Assets/scss/variable";

.allUserItem {
    width: 95%;
    margin: auto;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;

    .addBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleUserName {
            position: relative;
            font-size: 36px;
            color: $fontColor;
            // left: 100px;
        }

        .backUser {
            width: 32px;
            height: 32px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: relative;
        }


        .addItemsUserBox {
            display: flex;
            position: relative;

            .addItemsUser {
                display: none;
                right: 0px;
                top: 50px;
                width: 350px;
                padding: 20px;
                position: absolute;
                flex-direction: row;
                background-color: #272a2f;
                border-radius: 8px;
                box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
                gap: 10px;
                z-index: 2;

                &.activeaddItemsUser {
                    display: grid;
                }


                .addItemsUsercancelbtn {
                    display: flex;
                    flex-direction: row;
                    padding-top: 15px;
                    gap: 20px;
                }
            }

            .addItemsUserBtn {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                width: 130px;
                height: 32px;
                font-size: 14px;
                background: $Gray;
                border-radius: 6px;
                border: 2px solid $lightGray;
                justify-content: center;
                cursor: pointer;
                color: $iconColor;

                .icon {
                    font-size: 16px;
                }
            }
        }

    }

}