@import "../../Assets/scss/mixin";
@import "../../Assets/scss/variable";

.dashbord {
    width: 100%;
    min-height: 100vh;
    color: $fontColor;

    .layout1 {
        background-color: $bgColor;
        background-color: blue;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: calc(100% - 50px);
        margin: 0 0 0 auto;

        .outlet {
            position: relative;
            min-height: calc(90vh - 20px);
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: $Gray;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: $Gray;
                // border-radius: 20px 0 20px 0;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $lightGray;
                border-radius: 20px;
                border: 2px outset $lighterGray;
            }
        }

    }
}