@import "../../Assets/scss/mixin";
@import "../../Assets/scss/variable";

.greenbtn {
    width: 100%;
    height: 26px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $actionBlue;
    border-radius: 3px;
    border: 1px solid $actionBlue;
    cursor: pointer;
    color: $fontColor;
    font-size: $font-md;
    font-family: sans-serif;
    font-weight: 600;

    &:hover {

        background-color: $actionBluelight;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}