@import "../.../../../../../Assets/scss/mixin";
@import "../.../../../../../Assets/scss/variable";

.historyDetail {
    min-height: 80vh;
    width: 100%;
    background-color: $Gray;
    border-radius: 16px;
    border: 1px solid $lightGray;
    display: flex;
    flex-direction: row-reverse;
    cursor: default;
    display: flex;
    flex-direction: row-reverse;


    .backbtn {
        margin: auto;
        width: 10%;
    }

    .boxOfDetail {
        margin: 4%;
        width: 90%;

        .titleB {
            width: 28%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .disableInput {
                border: none;
                outline: none;
                box-shadow: none;
                background: transparent;
                font-size: 16px;
                font-weight: bold;

                &:focus,
                &:focus-visible,
                &:active,
                &::after,
                &:hover {
                    border: none !important;
                    box-shadow: none !important;
                }
            }

            &.priceTitle {
                width: 100%;
                display: flex;
                gap: 30px;
                border-top: 2px solid #000000;
                padding-top: 20px;
            }

            .header-title {
                font-size: $font-xl;
                color:  $fontColorlight;
                font-weight: 600;
            }
            
            .data-title {
                font-size: 18px;
                color:  $fontColor;
                font-weight: 600;
            }

            .sub-data {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
            }

            .listItems {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}