.disconnected {
    position: absolute;
    top: 20px;
    right: 60px;
    animation: show_disconnectedWallpaper 1s ease forwards;
    z-index: 60;
}

@keyframes show_disconnectedWallpaper {
    0% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        transform: translateX(20px);
    }
}

.disconnected.hide {
    animation: hide_disconnectedWallpaper 1s ease forwards;
}

@keyframes hide_disconnectedWallpaper {
    0% {
        transform: translateX(20px);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.disconnected .disconnectedWallpaper {
    background: #1A1D1F;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid #2A85FF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disconnected .disconnectedWallpaper.offline {
    border-color: #ccc;
}

.disconnectedWallpaper .content {
    display: flex;
    align-items: center;
}

.content .icon {
    font-size: 20px;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #2A85FF;
}

.disconnectedWallpaper.offline .content .icon {
    background: #ccc;
}

.content .details {
    margin-left: 15px;
}

.details span {
    color: #878787;
    font-size: 20px;
    font-weight: 500;
}

.details p {
    color: #878787;
}

.disconnectedWallpaper .close-icon {
    color: #878787;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #f2f2f2;
    transition: all 0.3s ease;
}

.close-icon:hover {
    background: #efefef;
}