@import "../.../../../../../../Assets/scss/mixin";
@import "../.../../../../../../Assets/scss/variable";

.itemDetail {
    width: 95%;
    margin: auto;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;

    .addBox {
        display: flex;
        justify-content: space-between;

        .titleBundle {
            font-size: 36px;
        }

        .backBundle,
        .editBundle {
            width: 32px;
            height: 32px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: relative;
        }

        .btnEdit,
        .btnEditCancel {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }

    }

    .boxOfDetail {
        width: calc(100% - 60px);
        min-height: 68vh;
        padding: 30px;
        gap: 40px 20px;
        background-color: $Gray;
        border-radius: 16px;
        border: 1px solid $lightGray;

        .active {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-size: 16px;
            font-weight: bold;

            &:focus,
            &:focus-visible,
            &:active,
            &::after,
            &:hover {
                border: none !important;
                box-shadow: none !important;
            }
        }

        .priceBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 2px solid $black;
            padding-top: 20px;
        }

        .addPrice {
            width: 28px;
            height: 28px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: absolute;
            right: 80px;
        }

    }

    .titleB {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;



        .header-title {
            font-size: $font-xl;
            color: $fontColorlight;
            font-weight: 600;
        }

        .data-title {
            font-size: 18px;
            color: $white;
            font-weight: 600;
        }

        .sub-data {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 80px;
        }

        .listItems {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    }

}