.dashbord {
    width: 100%;
    min-height: 100vh;

    .layout{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        width: calc(100% - 16%);
        margin: 0 0 0 auto;

        .outlet{
            position: relative;
            width: 90%;
            margin:30px ;
            height: calc(100vh - 20px);
            overflow: scroll;
        }

    }
}