@import '../../Assets/scss/variable';

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black-90;
    z-index: 10;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: 70%;
        max-height: 70%;
        display: flex;
        flex-direction: column;
        gap: 36px;
        background-color: $Gray;
        border-radius: 10px;
        padding: 20px;
        overflow-y: auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: $Gray;
            border-radius: 0 20px 20px 0;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $lightGray;
            border-radius: 0 20px 20px 0;
            border: 2px outset $lighterGray;
        }

        .titleModal {
            font-size: 26px;
            font-weight: 800;
            text-align: center;
        }

        .modalBoxs {
            // display: flex;
            // flex-direction: row;
            gap: 30px;
            border-top: 1px solid #00000090;
            padding-top: 20px;
        }

        .btns {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .backbtn {
                width: 50%;

            }

            .acsseptbtn {
                width: 50%;
            }
        }

        .mainModal {
            gap: 20px;
        }
    }
}