@import '../../Assets/scss/variable';
@import '../../Assets/scss/mixin';
@import '../../Assets/scss/fonts';


.sidebar {
    width: 50px;
    height: 100vh;
    position: fixed;
    background: $Gray;
    top: 0;
    // z-index: 10;
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
    padding-left: 5px;

    &.active {
        width: 150px;
    }

    .logo-dash {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .menu {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;


        .tab,
        .tabHaveChild {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            // gap: 16px;
            cursor: pointer;
            padding: 10px;
            transition: all .3s ease;
            color: $fontColorlight;
            font-weight: 700;

            &:link,
            &:visited,
            &:hover {
                text-decoration: none;
            }



        }

        .tab {

            &:hover,
            &.active {
                padding: 10px 10px;
                background-color: $lighterGray;
                border-radius: 10px;
                font-weight: 700;
                color: $fontColor;

                .icon {
                    color: $fontColor;
                }
            }
        }

        .tabIconText {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 16px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-fluid;
                color: $fontColorlight;
            }

            .tabText {
                font-size: $font-md;
            }
        }


        .tabHaveChild {

            &:hover,
            &.active {
                font-weight: 700;
                color: $fontColor;

                .icon {
                    color: $fontColor;
                }
            }

            .dropdownicon {}

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-fluid;
                color: $fontColorlight;
            }

            .tabText {
                font-size: $font-md;
            }

            .dropdownicon {
                &.active {
                    transform: rotate(180deg);
                }
            }

        }


        .child {
            display: none;

        }

        .activechild {
            display: flex;
            position: relative;
            width: calc(100% - 20px);
            left: 40px;
            color: $fontColorlight;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;

            .childItem {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 5px;
                cursor: pointer;
                padding: 10px 10px;
                font-weight: 550;
                font-size: $font-md;

                &:link,
                &:visited,
                &:hover {
                    text-decoration: none;
                    color: $fontColorlight;
                }

                &:hover,
                &:focus,
                &.active {
                    background-color: $lighterGray;
                    width: calc(100% - 40px);
                    color: $fontColor;
                    border-radius: 10px;
                }
            }
        }
    }
}