@import '../../Assets/scss/variable';

.settingCard {
    height: auto;
    width: calc(100% - 60px);
    padding: 20px 30px;
    position: relative;
    flex-direction: column;
    gap: 20px;
    background: $Gray;
    border-radius: 6px;
    border: 2px solid $lightGray;
    display: flex;
    font-size: $font-xl;
    color: $iconColor;

    .settingName {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .settingDetail {
        .disabled {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-size: 16px;
            font-weight: bold;
            padding-left: 0 !important;

            &:focus,
            &:focus-visible,
            &:active,
            &::after,
            &:hover {
                border: none !important;
                box-shadow: none !important;
                outline: none;
            }
        }

        .titleB {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .header-title {
                font-size: 14px;
                color: $fontColorlight;
                font-weight: 700;
                text-transform: capitalize;
            }

            .data-title {
                cursor: default !important;
                color: $fontColor;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}