@import "../../../../Assets/scss/variable";
@import "../../../../Assets/scss/variable";


.resourcesBox {
    width: 90%;
    margin: auto;
    .addBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        .titleSetting {
            font-size: 36px;
        }

        .backSetting {
            width: 30px;
            height: 30px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: relative;
        }
    }

    .resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }
        .hrLine {
            border: 1px solid $lightGray;
            border-radius: 50%;
        }

}