@import '../../Assets/scss/mixin';
@import '../../Assets/scss/variable';

.chatHeader {
    display: flex;
    flex-direction: row;
    background-color: $darkGray;
    padding: 10px;
    // position: fixed;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 10px 10px 0 0;
    .chatHeaderImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .chatHeaderName {
        display: flex;
        flex-direction: column;

        .chatHeaderusername {
            font-size: 18px;
            color: $fontColor;
            font-weight: 900;
        }

        .chatHeaderactivity {
            font-size: 12px;
            color: $fontColorlight;
            font-weight: 600;
        }
    }
}