@import '../../Assets/scss/variable';

.PriceBox{
    .priceTitle{
        display: flex;
        gap: 6px;
        
        .title {
            font-size: 18px;
            color: $fontColor;
        }
    
        .shouldfill{
            width: 6px;
            height: 6px;
            background-color: red;
            border-radius: 50%;
        }
    }
    .PriceItems{
        width: 100%;
        margin: auto;
        padding-left: 4px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.disablePrice{
            pointer-events: none;
            opacity: 0.7;
        }

    }

    .checkPriceItemBox{
        display: flex;
        align-items: center;
        top: 7px;
        position: relative;
        .checkPriceItem{
            display: flex;
            width: 20px;
            height: 20px;
            .checkPriceItembtn{
                background-color: rgb(0, 138, 0) ;
                color: white;
                font-weight: 900;
            }
        }
    }

    .addPriceBox{
        display: flex;
        justify-content: end;
        .addPriceItem{
            display: flex;
            width: 20px;
            height: 20px;
        }
    }
}