@import "../.../../../../../../Assets/scss/mixin";
@import "../.../../../../../../Assets/scss/variable";

.bundleDetail {
    height: auto;
    width: 100%;
    background: $Gray;
    border: 2px solid $lightGray;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row-reverse;

    .btnEdit{
        margin: 20px;
        display: flex;
        gap: 20px;
        position: absolute;
        .edited{
            height: 4vh;
            width: 4vh;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
            z-index: 1;
        }
    }

    .backbtn {
        margin: auto;
        width: 10%;
    }

    .boxOfDetail {
        margin: 4%;
        width: 95%;  
        gap: 40px 20px;

        .disabled {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-size:  $font-lg;
            font-weight: bold;
            padding-left: 0 !important;

            &:focus,
            &:focus-visible,
            &:active,
            &::after,
            &:hover {
                border: none !important;
                box-shadow: none !important;
            }
        }

        .priceBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 2px solid $bgColor;
            padding-top: 20px;

            .titlePrice{
                font-size: $font-xxl;
            }
        }

        .titleB {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-title {
                font-size: 18px;
                color:  $fontColorlight;
                font-weight: 700;
            }

            .data-title {
                font-size: 18px;
                color: $fontColor;
                font-weight: 600;
            }

            .sub-data {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
            }

            .listItems {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}