@import "../.../../../../../../Assets/scss/mixin";
@import "../.../../../../../../Assets/scss/variable";

.bundleDetail {
    width: 95%;
    margin: auto;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;

    .addBox {
        display: flex;
        justify-content: space-between;

        .titleBundle {
            font-size: 36px;
        }

        .backBundle,
        .editBundle {
            width: 36px;
            height: 36px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: relative;
        }

        .btnEdit,
        .btnEditCancel {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }

    }

    .boxOfDetail {
        width: calc(100% - 60px);
        min-height: 68vh;
        padding: 30px;
        gap: 20px;
        background-color: $Gray;
        border-radius: 16px;
        border: 1px solid $lightGray;

        .disabled {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-size: $font-lg;
            font-weight: bold;
            padding-left: 0 !important;
            user-select: none;
            &:focus,
            &:focus-visible,
            &:active,
            &::after,
            &:hover {
                border: none !important;
                box-shadow: none !important;
            }
        }

        .priceBox , .timeBox{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border-top: 2px solid $bgColor;
            padding-top: 20px;

            .titlePrice , .titleTime{
                font-size: $font-xxl;
            }
        }

        .titleB {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-title {
                font-size: 18px;
                color: $fontColorlight;
                font-weight: 700;
            }

            .data-title {
                font-size: 18px;
                color: $fontColor;
                font-weight: 600;
            }

            .sub-data {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
            }

            .listItems {
                display: flex;
                flex-direction: row;
                gap: 12px;
            }
        }
    }
}