@import '../../../../Assets/scss/variable';

.settings {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px;

    .addBox {
        display: flex;
        justify-content: end;

        .addSetting {
            width: 36px;
            height: 36px;
            background: $Gray;
            border-radius: 6px;
            border: 2px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-xl;
            color: $iconColor;
            cursor: pointer;
            position: fixed;
            z-index: 10;
        }
    }


}