@import '../../Assets/scss/variable';

.showData {
    .emptyTable {
        height: calc(100vh - 50vh);
        width: calc(100% - 4px);
        background-color: $Gray;
        border-radius: 16px;
        border: 2px solid $lightGray;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table {
        position: relative;
        font-family: sans-serif;

        .header {
            background-color: $Gray;

            .trhead {
                .thhead {
                    padding: 10px 10px;
                    text-align: center;
                }

                .id {
                    padding: 10px !important;

                }
            }
        }

        .bodytable {
            .trbody {
                text-align: center;
                padding: 10px 10px;
                cursor: pointer;

                .tdbody {
                    text-overflow: ellipsis;
                }

                &:nth-child(2n) {
                    background-color: $lightGray;
                }


            }
        }
    }

}