.showData {
    .emptyTable {
        height: 6vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.44);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.2px);
        -webkit-backdrop-filter: blur(7.2px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table {
        position: relative;
        font-family: sans-serif;

        .header {
            background-color: rgb(223, 97, 255);

            .trhead {
                .thhead {
                    padding: 10px 10px;
                    text-align: center;
                }

                .id {
                    padding: 10px !important;

                }
            }
        }

        .bodytable {
            .trbody {
                text-align: center;
                padding: 10px 10px;
                cursor: pointer;

                &:nth-child(2n) {
                    background-color: rgb(248, 219, 255);
                }


            }
        }
    }

}