.table {
    position: relative;
    font-family: sans-serif;

    .header {
        background-color: rgb(223, 97, 255);

        .trhead {
            .thhead {
                padding: 10px 10px;
                text-align: center;
            }
            
            .id {
                padding: 10px !important;
                
            }
        }
    }
    
    .bodytable {
        .trbody {
            text-align: center;
            padding: 10px 10px;
            cursor: pointer;
            &:nth-child(2n) {
                background-color: rgb(248, 219, 255);
            }


        }
    }
}