.btnBox{
    width: 20%;
    position: relative;
    text-decoration: none;
    &:focus,
    &:focus-visible,
    &:active,
    &::after {
        border: none;
    }
    
    .btn {
        width: 100%;
        height: 26px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(203, 8, 8);
        border-radius:3px;
        border:1px solid #6c000094;
        cursor:pointer;
        color:#ffffff;
        font-size:13px;
        font-family: sans-serif;
        &:hover {
    
            background-color:#a70000;
        }
        &:active {
            position:relative;
            top:1px;
        }
    }
}

        