@import '../../Assets/scss/variable';

.timeBox {
    // display: flex;
    gap: 20px;

    .timeTitle {
        display: flex;
        gap: 6px;

        .title {
            font-size: 18px;
            color: $fontColor;
        }

        .shouldfill {
            width: 6px;
            height: 6px;
            background-color: red;
            border-radius: 50%;
        }
    }

    .disabled {
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
        font-size: $font-lg;
        font-weight: bold;
        padding-left: 0 !important;
        user-select: none;

        &:focus,
        &:focus-visible,
        &:active,
        &::after,
        &:hover {
            border: none !important;
            box-shadow: none !important;
        }
    }


}