@import '../../Assets/scss/fonts';
@import '../../Assets/scss/variable';

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 10px;
    height: 10vh;
    margin: 5px 20px;
    
    .usernameBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .imgUser {
            cursor: pointer;
            width: 50px;
            border-radius: 50%;
        }

        .username {
            font-weight: 600;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
                color: $fontColorlight;
            }
        }

    }
}