@import '../../Assets/scss/fonts';
@import '../../Assets/scss/variable';

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 10px;
    height: 10vh;
    margin: 5px 20px;
    cursor: default;

    
    .timeZone,
    .username {
        font-size: 18px;
        color: $fontColor;
    }

    .usernameBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .imgUser {
            width: 46px;
            height: 46px;
            border-radius: 50%;
        }

    }
}